StepFunction_and_Lambda/StateMachineTransaction.json
{
    "Comment": "Transaction Processor State Machine",
    "StartAt": "ProcessTransaction",
    "States": {
        "ProcessTransaction": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.TransactionType",
                    "StringEquals": "PURCHASE",
                    "Next": "ProcessPurchase"
                },
                {
                    "Variable": "$.TransactionType",
                    "StringEquals": "REFUND",
                    "Next": "ProcessRefund"
                }
            ]
        },
        "ProcessPurchase": {
            "Type": "Task",
            "Resource": "process_purchase_arn",
            "End": true
        },
        "ProcessRefund": {
            "Type": "Task",
            "Resource": "process_refund_arn",
            "End": true
        }
    }
}